/* GENERAL LAYOUT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --black: #000;
  --light-black: #181818;
  --light-grey: #707070;
  --white: #FFF;
  --light-white: #BEBEBE;
  --background: #252627;
  --background-tooltip: #464646;
  --background-title: #2C2D2E;
  --primary: #ED5565;
  --secondary: #48CFAD;
  --tertiary: #1785A7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
  scroll-behavior: smooth;
  background-color: var(--background);
}

.logo img {
  height: 120px;
}

.navbar {
  background-color: var(--light-black);
  padding: 0 5% 0 5%;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 1s;
  z-index: +2;
}

header a,
.text p {
  font-size: 1.1rem;
  color: var(--light-grey);
}

footer hr {
	border: 2px solid var(--light-grey);
  margin-top: 2vh;
}

footer p {
	text-align:center;
	color: var(--light-grey);
	font-size: 1.2rem;
	padding: 30px 0;
}

.about h1,
.experience h1,
.education h1,
.skills h1,
.projects h1,
.contact h1 {
	color: var(--background-title);
}

nav {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
}

nav .menu-btn i {
  color: var(--white);
  font-size: 5vh;
  cursor: pointer;
  display: none;
}

header {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0; */
}

ol {
  list-style: none;
}

li {
  list-style: none;
  margin-left: 30px;
}

a {
  text-decoration: none;
  font-size: .9rem;
  text-transform: uppercase;
}

.profile-image img {
	width: 450px;
	margin-top: 50px;
}

.text {
	margin-top: 120px;
}

.text h1 {
	color: var(--white);
	font-size: 3rem;
	cursor: context-menu;
}

.text span {
	display: inline-block;
}

button.active {
	color: var(--white);
}

span:hover {
	color: var(--secondary);
	transition: all .5s;
}

span.name {
	color: var(--primary);
}

span.m-left {
	margin-left: -10px;
}

.text p {
	letter-spacing: 3px;
	word-spacing: 10px;
	font-size: .8rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 320px;
  bottom: 140%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: var(--background-tooltip);
  color: var(--primary);
  text-align: center;
  text-transform: lowercase;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.container {
  padding: 0 10% 0 10%;
  padding-bottom: 13vh;
}

.left-container {
  flex: 0 1 50%;
  min-height: 100%;
  max-width: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: transparent white transparent transparent;
  padding: .5em;
}

.right-container {
  flex: 0 1 50%;
  display: flex;
  min-height: 100%;
  max-width: 50%;
  flex-wrap: wrap;
  margin-left: 40px;
  /* align-items: center; */
  /* justify-content: center; */
}

.right-container-experience {
  /* margin-left: 40px; */
  align-items: center;
  justify-content: center;
}

.main-info-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15vh;
  padding-bottom: 10vh;
}

.main-info-section .active {
	background-color: var(--primary);
}

.main-info-section button {
	text-transform: capitalize;
	border: 3px solid var(--primary);
	padding: 10px 30px;
  margin-bottom: 5px;
  margin-top: 5px;
	border-radius: 50px;
	color: var(--primary);
	font-size: 1.1rem;
	letter-spacing: 1px;
	background-color: var(--background);
	outline: none;
	cursor: pointer;
}

#closeIcon {
  display: none;
}

.resume-link a,
.text a {
	padding: 12px 25px;
	background-color: none;
	border: 3px solid var(--primary);
	color: var(--primary);
	font-size: .8rem;
	letter-spacing: 2px;
	position: relative;
	/* top: 80px; */
	overflow: hidden;
	transition: .5s;
	/* display: inline-block; */
}

.resume-link a:hover,
.text a:hover {
	color: var(--white);
}

.resume-link a::before,
.text a::before {
	content:'';
	background-color: var(--primary);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0%;
	z-index: -1;
	transition: .5s;
}

.resume-link a:hover::before,
.text a:hover::before {
  height: 100%;
}



/* ABOUT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.about {
  margin-top: 100px;
}

.about h1 {
	font-size: 10rem;
	z-index: 0;
}

.about-me-info {
  max-width: 900px;
  background-color: var(--background);
  box-shadow: 0 0 1.2rem rgba(0,0,0,.75);
  padding: 5vh;
  position: relative;
  top: -2vh;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.about-me-info p {
	font-size: 1.3rem;
	color: var(--light-white);
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
	margin-top: 30px;
}

.about img {
  width: 25vh;
  position: relative;
  top: -10vh;
  left: calc(100% - 100px);
  right: calc(100% - 100px);
  transform: translateX(calc(-100% + min(30vw,12vh)));
}


/* EXPERIENCE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container-experience {
    display: flex;
    width: 100%;
    height: 75%;
    max-height: 75%;
}

.container-experience p {
  margin-right: 30px;
}

.experience h1 {
	text-align: right;
	font-size: 10rem;
}

.experience h2 {
  color: var(--secondary);
  font-size: 2.625rem;
  line-height: 1.3;
  margin: 20px 0 5px;
  width: 100%;
}

.experience h3 {
  font-size: 1rem;
  color: var(--secondary);
  margin: 0 0 20px;
  width: 100%;
}

.right-container-experience h2,
.right-container-experience h3 {
  text-align: center;
}

.experience p{
  color: var(--light-white)
}

.logo-image {
  width: 250px;
	margin-top: 20px;
  margin-bottom: 30px;
}


/* EDUCATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.education h1 {
  font-size: 10rem;
	z-index: 0;
}

.education h2 {
  color: var(--primary);
  font-size: 2.625rem;
  line-height: 1.3;
  margin: 20px 0 5px;
  width: 100%;
}

.education p {
  list-style-type: circle;
}

.education a {
  border-bottom: 1px dotted var(--white);
  color: var(--light-white);
  font-size: 1.5rem;
  text-transform: none;
}

#studies-list li {
  color: var(--light-white);
  font-size: 1.5rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 5%;
  display: list-item;
  text-align: -webkit-match-parent;
}

#studies-skill-list li {
  color: var(--light-white);
  font-size: 1.5rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 15%;
  display: list-item;
  list-style-type: circle;
  text-align: -webkit-match-parent;
}

#training-list li {
  color: var(--light-white);
  font-size: 1.5rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 10%;
  display: list-item;
  list-style-type: circle;
  text-align: -webkit-match-parent;
}


/* SKILLS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container-skills {
    display: flex;
    width: 100%;
    height: 75%;
    max-height: 75%;
}

.left-container-checkbox {
    margin-top: 20px;
    border-color: transparent;
    align-items: center;
    justify-content: center;
}

.right-container-checkbox {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.skills h1 {
	text-align: right;
	font-size: 10rem;
}

.skills-info {
	font-size: 1.4rem;
	color: var(--light-white);
	left: 50%;
	right: 50%;
	text-align: center;
	margin-bottom: 50px;
}

.arrow {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 40px;
}

div[class^='tag-'] {
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
	width: 120px;
	height: 30px;
	background-color: var(--tertiary);
	margin-right: 30px;
}

div[class^='tag-'] p {
	color: var(--white);
	text-align: left;
	padding-left: 10px;
	font-size: 1.1rem;
	padding-top: 3px;
}

.progressbar {
	position: relative;
	width: 600px;
	height: 20px;
	border: 2px solid var(--secondary);
	border-radius: 20px;
	margin-top: 7px;
}

div[class^='bar-'] {
	position: absolute;
	background-color: var(--secondary);
	height: 10px;
	border-radius: 20px;
	margin: 2.7px;
}

.bar-python,
.bar-sql,
.bar-tf,
.bar-keras,
.bar-web-design {
	width: calc(0 - 6px);
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  font-size: 2vh;
  z-index: +1;
}

/* checkbox aspect */
  /* disabled checkbox */
  /* [type="checkbox"]:disabled:not(:checked) + label:before, */
  [type="checkbox"]:disabled:checked + label:before {
    content: '\2713\0020';
    position: absolute;
    left: 0; top: 0;
    transform: scale(1.5);
    line-height: 0.8;
    border: 2px solid var(--white);
    border-radius: 4px;
    border-color: var(--secondary);
  }
  [type="checkbox"]:disabled + label {
    color: var(--light-white);
  }


/* PROJECTS - GRID
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.projects h1 {
	font-size: 10rem;
	z-index: 0;
}

.projects a {
	justify-self: center;
	/* position: relative; */
	display:inline-block;
}

.projects a img {
	width: 350px;
	justify-self: center;
  border-radius: 10px;
}

div[class^='category-'] {
	margin-top: 50px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 1vh;
}

div.hideCategory {
	display: none;
}

showCategory {
	display: block;
}

/* PROJECTS - DETAILS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.project-detail {
  padding-top: 13vh;
}

.project-detail-social-buttons {
  padding-top: 3vh;
  padding-bottom: 5vh;
  padding-left: 0px;
}

.project-detail h1 {
	font-size: 7vw;
	z-index: 0;
  background: linear-gradient(45deg, var(--light-grey) 0%, var(--primary) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-detail h2 {
	font-size: 4vw;
	z-index: 0;
  color: var(--light-white);
}

.project-detail h3 {
	font-size: 2vw;
	z-index: 0;
  color: var(--light-white);
  margin-top: 7vh;
}

.project-detail p {
	font-size: 1.7rem;
	z-index: 0;
  color: var(--light-white);
  margin-top: 2%;
  text-align: justify;
  text-justify: inter-word;
}

.project-detail p a {
  border-bottom: 1px dotted var(--white);
  color: var(--light-white);
  font-size: 1.7rem;
  text-transform: none;
}

#project-detail-list li {
  color: var(--light-white);
  font-size: 1.5rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 10%;
  display: list-item;
  list-style-type: circle;
  text-align: -webkit-match-parent;
}


/* CONTACT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact {
  padding-bottom: 0vh;
}

.contact h1 {
	text-align: right;
	font-size: 10rem;
}

.container-social-buttons div{
  padding: 0;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}


.social-buttons div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 7vw;
}

.social-buttons div a,
.social-buttons div p{
  width:100%;
}

.social-buttons a{
  display: inline-flex;
  text-decoration: none;
  font-size: 25px;
  width: 60px;
  height: 60px;
  color: var(--white);
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
}

.social-buttons a::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg,var(--light-grey),var(--primary));
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before{
  transform: scale(0);
}

.social-buttons a i{
  transition: 0.3s ease-in;
}

.social-buttons a:hover i{
  background: linear-gradient(45deg,var(--light-grey),var(--primary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}


/* MEDIA
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (max-width: 1260px) {
    /* Behavior in mobile devices */
    /* navbar */
    .logo img{
      height: 10vh;
    }
    nav .menu-btn i {
      display: block;
    }
    #closeIcon:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul {
      position: fixed;
      top: 0%;
      left: 100%;
      background: var(--black);
      height: 100%;
      width: 100%;
      display: block;
      text-align: center;
      transition: all 0.6s ease;
    }
    #closeIcon:checked ~ ul {
      left: 0%;
    }
    nav ul li {
      margin: 10% 0;
    }
    nav ul li a {
      /* font-size: 2rem; */
      display: block;
    }

    /* document headers */
    .about h1,
    .experience h1,
    .education h1,
    .skills h1,
    .projects h1,
    .contact h1 {
      font-size: 16.5vw;
    }
    .experience h2,
    .education h2 {
      font-size: 6.5vw;
    }
    .experience h3,
    .education h3 {
      font-size: 4vw;
    }

    .text {
      margin-top: 1vh;
    }
    .text h1 {
    	font-size: 2.5rem;
    }
    .text p {
      font-size: max(3vw, 16px);
    }
    .profile-image img {
    width: 80vw;
    margin-top: 11vh;
    }

    /* about me */
    .about-me-info p {
      font-size: max(3vw, 16px);
    }

    /* experience */
    .logo-image {
    	width: 50vw;
    	margin-top: 2vh;
      margin-bottom: 2vh;
    }
    .container-experience {
        flex-wrap: wrap;
        justify-content: center;
        text-align: justify;
    }
    .container-experience p {
      margin-right: none;
      font-size: max(3vw, 16px);
    }
    .left-container {
        flex: 0 1 100%;
        min-height: 100%;
        max-width: 100%;
        border-width: none;
        border-style: none;
        border-color: none;
        padding: 0;
    }
    .right-container {
        flex: 0 1 100%;
        max-width: 100%;
        margin-left: 0px;
    }

    .right-container-experience h2,
    .right-container-experience h3 {
      text-align: justify;
    }

    /* education */
    #studies-list li {
      font-size: 4vw;
    }
    #studies-skill-list li {
      font-size: max(3vw, 16px);
    }
    #training-list li,
    .education a {
      font-size: max(3vw, 16px);
    }

    /* skills */
    .container-skills {
      flex-wrap: wrap;
    }

    /* projects */
    div[class^='category-'] {
    	margin-top: 5vh;
    	display: grid;
    	grid-template-columns: none;
    	grid-gap: 1vh;
      grid-auto-flow: dense;
      flex-wrap: wrap;
    }
    div.hideCategory {
    	display: none;
    }
    showCategory {
    	display: block;
    }
    .projects a img {
    	width: 80vw;
    	justify-self: center;
    }

    /* project-detail */
    .project-detail h1 {
      font-size: 14vw;
    }
    .project-detail h2 {
      font-size: 8vw;
    }
    .project-detail h3 {
      font-size: 6vw;
    }
    .project-detail p {
      font-size: 4vw;
    }

    .project-detail p a {
      font-size: 4vw;
    }
    #project-detail-list li {
      font-size: max(3vw, 16px);
    }
}
