* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html {
	scroll-behavior: smooth;
}

.container {
	padding: 0 100px 0 100px;
}

.container-experience {
    display: flex;
    width: 100%;
    height: 75%;
    max-height: 75%;
}

.container-experience p {
  margin-right: 30px;
}

.container-skills {
    display: flex;
    width: 100%;
    height: 75%;
    max-height: 75%;
}

.left-container {
    flex: 0 1 50%;
    min-height: 100%;
    max-width: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    padding: .5em;
}

.left-container-checkbox {
    margin-left: 40px;
    border-color: transparent;
    align-items: center;
    justify-content: center;
}

.right-container {
    flex: 0 1 50%;
    display: flex;
    min-height: 100%;
    max-width: 50%;
    flex-wrap: wrap;
    margin-left: 40px;
    /* align-items: center; */
    /* justify-content: center; */
}

.right-container-experience {
    /* margin-left: 40px; */
    align-items: center;
    justify-content: center;
}

.right-container-checkbox {
    margin-left: 40px;
    align-items: center;
    justify-content: center;
}

.half-containers {
    flex: 0 0 100%;
    max-height: 50%;
    min-height: 50%;
    max-width: 100%;
    background: #0BDA51;
    border: 1px solid red;
    padding: .5em;
    overflow: hidden;
}

nav ul,
.main-info-section,
.projects-category {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

body {
	background-color: #252627;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
}

.navbar {
	background-color: #181818;
}

header h1,
header a,
.text p,
.about h1,
.experience h1,
.education h1,
.skills h1,
.projects h1,
.contact h1 {
	color: #707070;
}

li {
	list-style: none;
	margin-left: 30px;
}

a {
	text-decoration: none;
	font-size: .9rem;
	text-transform: uppercase;
	position: relative;
	top: 50%;
	bottom: 50%;
	transform: translateY(-50%);
}

.main-info-section {
	height: calc(100vh - 81.6px);
}

.text {
	margin-top: 120px;
}

.text h1 {
	color: #fff;
	font-size: 3rem;
	cursor: context-menu;
}

.text span {
	display: inline-block;
}

span:hover {
	color: #48CFAD;
	transition: all .5s;
}

span.name {
	color: #ED5565;
}

span.m-left {
	margin-left: -10px;
}

.text p {
	letter-spacing: 3px;
	word-spacing: 10px;
	font-size: .8rem;
}

.resume-link a,
.text a {
	padding: 12px 25px;
	background-color: none;
	border: 3px solid #ED5565;
	color: #ED5565;
	font-size: .8rem;
	letter-spacing: 2px;
	position: relative;
	/* top: 80px; */
	overflow: hidden;
	transition: .5s;
	/* display: inline-block; */
}

.resume-link a:hover,
.text a:hover {
	color: #fff;
}

.resume-link a::before,
.text a::before {
	content:'';
	background-color: #ED5565;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0%;
	z-index: -1;
	transition: .5s;
}

.resume-link a:hover::before,
.text a:hover::before {
	height: 100%;
}

.profile-image img {
	width: 450px;
	margin-top: 50px;
}

.about {
	height: 75vh;
	margin-top: 100px;
}

.about h1,
.education h1,
.projects h1 {
	font-size: 10rem;
	z-index: 0;
	opacity: .1;
}

.about-me-info {
	max-width: 900px;
	background-color: #252627;
	box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
	padding: 50px;
	position: relative;
	top: -70px;
	left:50%;
	right:50%;
	transform: translateX(-50%);
	z-index: 1;
}

.about-me-info p {
	font-size: 1.3rem;
	color: #BEBEBE;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
	margin-top: 30px;
}

.about img {
	width: 300px;
	position: relative;
	top: -300px;
	left: calc(100% - 100px);
	right: calc(100% - 100px);
	transform: translateX(calc(-100% + 100px));
}

.experience h2 {
  color: #48CFAD;
  font-size: 2.625rem;
  line-height: 1.3;
  margin: 20px 0 5px;
  width: 100%;
}

.experience h3 {
  font-size: 1rem;
  color: #80B5A8;
  margin: 0 0 20px;
  width: 100%;
}

.experience p{
  color: #BEBEBE
}

.logo-image {
	width: 250px;
	margin-top: 20px;
  margin-bottom: 30px;
}

.experience h1,
.skills h1,
.contact h1 {
	text-align: right;
	font-size: 10rem;
	opacity: .1;
}

.education h2 {
  color: #ED5565;
  font-size: 2.625rem;
  line-height: 1.3;
  margin: 20px 0 5px;
  width: 100%;
}

#studies-list li {
  color: #BEBEBE;
  font-size: 1.5rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 5%;
  display: list-item;
  text-align: -webkit-match-parent;
}

#studies-skill-list li {
  color: #BEBEBE;
  font-size: 1.5rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 15%;
  display: list-item;
  list-style-type: circle;
  text-align: -webkit-match-parent;
}

#training-list li {
  color: #BEBEBE;
  font-size: 1.5rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-left: 10%;
  display: list-item;
  list-style-type: circle;
  text-align: -webkit-match-parent;
}

.education p {
  list-style-type: circle;
}

.education a {
  border-bottom: 1px dotted #fff;
  color: #BEBEBE;
  font-size: 1.5rem;
  text-transform: none;
}

.skills-info {
	font-size: 1.4 rem;
	color: #BEBEBE;
	max-width: 800px;
	position: relative;
	left: 50%;
	right: 50%;
	transform: translateX(-50%);
	text-align: center;
	margin-bottom: 50px;
}

.arrow {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 40px;
}

div[class^='tag-'] {
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
	width: 120px;
	height: 30px;
	background-color: #1785A7;
	margin-right: 30px;
}

div[class^='tag-'] p {
	color: #fff;
	text-align: left;
	padding-left: 10px;
	font-size: 1.1rem;
	padding-top: 3px;
}

.progressbar {
	position: relative;
	width: 600px;
	height: 20px;
	border: 2px solid #48CFAD;
	border-radius: 20px;
	margin-top: 7px;
}

div[class^='bar-'] {
	position: absolute;
	background-color: #48CFAD;
	height: 10px;
	border-radius: 20px;
	margin: 2.7px;
}

.bar-python,
.bar-sql,
.bar-tf,
.bar-keras,
.bar-web-design {
	width: calc(0 - 6px);
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: .15em; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #000;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #48CFAD;
  background-color: #48CFAD;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #000;
}
[type="checkbox"]:disabled + label {
  color: #BEBEBE;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #48CFAD!important;
}

.projects-category button {
	text-transform: capitalize;
	border: 3px solid #ED5565;
	padding: 15px 30px;
	border-radius: 50px;
	color: #ED5565;
	font-size: 1.1rem;
	letter-spacing: 1px;
	background-color: #252627;
	outline: none;
	cursor: pointer;
}

div[class^='category-'] {
	margin-top: 50px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 10px;
}

.projects a {
	justify-self: center;
	position: relative;
	display:inline-block;
}

.projects-category .active {
	background-color: #ED5565;
}

button.active {
	color: #fff;
}

.projects a img {
	width: 350px;
	justify-self: center;
}

div.hideCategory {
	display: none;
}

showCategory {
	display: block;
}

.contact {
	margin-top: 50px;
}

.container-social-buttons div{
  padding: 0;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.social-buttons a{
  display: inline-flex;
  text-decoration: none;
  font-size: 25px;
  width: 60px;
  height: 60px;
  color: #fff;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 8px;
}

.social-buttons a::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: linear-gradient(45deg,#ED5565,#30336b);
  border-radius: 50%;
  z-index: -1;
  transition: 0.3s ease-in;
}

.social-buttons a:hover::before{
  transform: scale(0);
}

.social-buttons a i{
  transition: 0.3s ease-in;
}

.social-buttons a:hover i{
  background: linear-gradient(45deg,#ED5565,#30336b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(2.2);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 320px;
  bottom: 140%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: #464646;
  color: #ED5565;
  text-align: center;
  text-transform: lowercase;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.project-detail {
	height: 75vh;
}

.project-detail h1 {
	font-size: 10rem;
	z-index: 0;
  background: linear-gradient(45deg, #ED5565 0%, #30336b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-detail h2 {
	font-size: 3rem;
	z-index: 0;
  color: #BEBEBE;
}

.project-detail h3 {
	font-size: 2rem;
	z-index: 0;
  color: #BEBEBE;
}

footer hr {
	border: 2px solid #707070;
	margin-top: 80px;
}

footer p {
	text-align:center;
	color: #707070;
	font-size: 1.2rem;
	padding: 30px 0;
}
